*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/*h1{
  font-size: 1.75em;
}*/
html, body {
  margin: 0;
  padding: 0;
}

img{
  display: block;
}
.container{
  width: 100vw;
  padding: 0;
  margin: 0;
}

#black {
  position: absolute;
  top: 9em;
  width: 30vw;
  height: 30vh;
}
#hey {
  padding: 0;
  position: relative;
}
#yo {
  padding: 0;
}
#ok {
  padding: 0;
}
/*@media only screen and (min-width: 1092px) and (max-width: 662px){
  #yo{
  }
}*/
